<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.medbutler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity android:name=".classes.view.AddMedActivity" />
        <activity android:name=".classes.view.AddReminderActivity" />
        <activity android:name=".classes.view.AddTaskActivity" />
        <activity android:name=".classes.view.AddFoodActivity" />
        <activity android:name=".classes.view.SettingsActivity" />
        <activity android:name=".classes.view.SettingsAccountActivity" />
        <activity android:name=".classes.view.SettingsAboutActivity" />
        <activity android:name=".classes.view.SettingsAppearanceActivity" />
        <activity android:name=".classes.view.SettingsHelpSupportActivity" />
        <activity android:name=".classes.view.SettingsPrivacySecurityActivity" />
        <activity android:name=".classes.view.SettingsNotificationsActivity" />
        <activity android:name="com.example.medbutler.classes.view.ListView.ModelListViewTreatment" />
        <activity android:name="com.example.medbutler.classes.view.ListView.ModelSettings" />
        <activity android:name="com.example.medbutler.classes.view.ListView.ModelTreatment" />
        <activity android:name=".classes.model.UserAppearenceInfo"/>
        <activity android:name=".classes.view.MedListActivity" />
        <activity android:name=".classes.view.AllDiseaseInfoActivity" />
        <activity android:name=".classes.view.DiseaseInformationActivity" />
        <activity android:name=".classes.view.DayActivity" />
        <activity android:name=".classes.view.ModifMedActivity" />
        <activity android:name=".classes.view.ModifReminderActivity" />
        <activity android:name=".classes.view.ModifTaskActivity" />
        <activity android:name=".classes.view.ModifFoodActivity" />
        <activity android:name="com.example.medbutler.classes.view.ListView.ModelListViewProfile" />
        <activity android:name="com.example.medbutler.classes.view.ListView.ModelOther" />
        <activity android:name="com.example.medbutler.classes.view.ListView.CustomListviewAdapter" />
        <activity android:name="com.example.medbutler.classes.view.ListView.CustomAdapterOther" />
        <activity android:name="com.example.medbutler.classes.view.ListView.AdapterSettings" />
        <activity android:name="com.example.medbutler.classes.view.ListView.ModelListViewCalendar" />
        <activity android:name="com.example.medbutler.classes.view.ListView.ModelListViewSettings" />
        <activity android:name="com.example.medbutler.classes.view.ListView.ModelListViewBackground"/>
        <activity android:name=".classes.view.Sign_up" />
        <activity
            android:name=".classes.view.UserProfile"
            android:theme="@style/AppTheme" />
        <activity android:name=".classes.view.Login"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".classes.view.MainActivity" />
        <activity
            android:name=".classes.view.Calendar"
            android:theme="@style/AppTheme" />
        <receiver android:name=".classes.view.AlertReceiver"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>